@model List<Chef>
@{
    ViewData["Title"] = "Display Page";
}

<div class="text-center">
    <h1>Check out our roster of chefs!</h1>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Age</th>
                <th scope="col">Number of Dishes</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Chef c in Model)
            {
                <tr>
                    <td>@c.FirstName @c.LastName</td>
                    <td>@c.ChefAge()</td>
                    <td>@c.AllDishes.Count</td>
                </tr>
            }
        </tbody>
    </table>
</div>
